modules = ["nodejs-22", "python-with-prybar-3.10", "nodejs-with-prybar-18", "zig-0.11", "ruff", "pyright-extended", "web", "vue-node-20", "typescript-language-server", "swift-5.8", "rust-nightly", "r-4.2", "r-4.5", "python-3.10", "python-3.11", "python-base-3.11", "python-3.12", "python-3.8", "postgresql-17", "nodejs-14", "nodejs-18", "nodejs-19", "nodejs-20", "nodejs-23", "nodejs-24", "nix", "lua-5.2", "hermit-0.38.2", "java-graalvm22.3", "haskell-ghc9.8", "go-1.24", "elixir-1_18", "dart-3.8", "clojure-1.12", "cpp-clang14", "bun-1.2", "angular-node-24", "dotnet-10.0", "pyright", "ruby-3.2", "php-8.4", "gcloud", "deno-2"]

[agent]
stack = "AGENT_STACK"
integrations = ["agentstack-trigger-telegram:1.0.0"]

[nix]
channel = "stable-24_11"
packages = ["jq", "haskellPackages.debian-binary", "xcbuild", "ironicclient", "emacsPackages.embrace"]

[deployment]
build = ["bash", "scripts/build.sh"]
run = ["sh", "-c", "cd .mastra/output && NODE_ENV=production node index.mjs"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8289

[[ports]]
localPort = 50052
externalPort = 3002

[[ports]]
localPort = 50053
externalPort = 3001

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start inngest server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mastra dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "automations"

[[workflows.workflow]]
name = "Start inngest server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./scripts/inngest.sh"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "automations"
